* {
    margin: 0;
    padding: 0;
}

.navbar-nav li.nav-1 li {
    width: 140px;
}

.searchbar:hover>.search_icon {
    color: #ffffff;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 40px;
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
    background-color: #2e28284b;
    border-radius: 30px;
    padding: 0px;
}

.search_input {
    color: rgb(255, 255, 255);
    border: 0;
    outline: 0;
    background: none;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    padding: 0 10px;
    width: 200px;
    caret-color: white;
}

.search_icon {
    color: #ffffff;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

#dv {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

#service {
    position: absolute;
    display: none;
    list-style: none;
    width: 150px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 0px;
    margin-top: 5px;
    padding: 5px;
}

#service a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

#service a:hover {
    color: red;
    text-decoration: underline;
}

#dv:hover #service {
    display: block;
}


/*#dv:hover .nav-link {background-color: gray;}*/

#list-dt {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
}

#list {
    position: absolute;
    display: none;
    list-style: none;
    width: 382px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 0px;
    margin-top: 5px;
    padding: 5px;
}

#list a {
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
}

#list a:hover {
    color: red;
    text-decoration: underline;
}

#list-dt:hover #list {
    display: block;
}

ul li {
    list-style: none;
}

.iPhone {
    padding-left: 10px;
    padding-right: 5px;
}

@import url('https://fonts.googleapis.com/css?family=Righteous');
* {
    text-decoration: none;
    list-style: none;
}

.row {
    /*height: 60vh;
	width: 80%;*/
    margin: 20px auto;
    margin-top: 100px;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.carousel,
.carousel-inner,
.carousel-item img {
    height: 60vh;
}

.carousel {
    width: 45%
}

.card {
    width: 55%;
    height: 62vh;
    text-align: center;
    border-radius: 10px;
    border: none;
    padding-bottom: 30px;
}

.tskt {
    margin: 0 auto;
    margin-top: 15px;
    text-align: left;
    width: 410px;
}

.carousel-item img {
    object-fit: cover;
    margin: 0 auto;
}

.card-title {
    font-size: 30px;
    color: orange;
    font-weight: bold;
}

.card-text {
    margin: 0;
    color: gray;
}

#price {
    margin: 10px auto;
    font-size: 20px;
    font-weight: bold;
    width: 130px;
    color: black;
    border-top: 4px solid gray;
}

.carousel a {
    opacity: 0;
    transition: .4s all;
    color: gray;
    font-size: 25px
}

.carousel:hover .carousel-control-prev {
    opacity: 1;
    color: gray;
}

.carousel:hover .carousel-control-next {
    opacity: 1;
    color: gray;
}

.select-color {
    position: relative;
    width: 100%;
    display: flex;
    margin: 10px auto;
}

.select-color label {
    /* font-weight: bold; */
    margin: 5px;
}

.select-color ul {
    display: flex;
    padding: 0;
    margin: 0 40px;
}

.color {
    width: 35px;
    margin: 0px 10px;
    padding: 3px;
    border: 2px solid gray;
    color: gray;
    border-radius: 100px;
    transition: .4s all;
    cursor: pointer;
}

.click-color,
.color:hover {
    border: 2px solid black;
    color: black;
}

#color-1 {
    background-color: black;
}

#color-2 {
    background-color: white;
}

#color-3 {
    background-color: #2f565b;
}

#myDIV {
    padding-left: 177px;
    margin-top: 40px;
}

.quantity {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.num-block {
    position: absolute;
    width: 50%;
}

.skin-2 .num-in {
    background: #FFFFFF;
    box-shadow: 0px 1px 10px gray;
    border-radius: 25px;
    height: 40px;
    width: 110px;
    float: right;
    margin-right: 10px;
}

.skin-2 .num-in span {
    width: 40%;
    display: block;
    height: 40px;
    float: left;
    position: relative;
    cursor: pointer;
}

.skin-2 .num-in span:before,
.skin-2 .num-in span:after {
    content: '';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 10px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -5px;
}

.skin-2 .num-in span.plus:after {
    transform: rotate(90deg);
}

.skin-2 .num-in input {
    float: left;
    width: 20%;
    height: 40px;
    border: none;
    font-weight: bold;
    text-align: center;
}

.buy {
    position: absolute;
    width: 50%;
    margin: 0;
    right: 0;
}

.btn-primary {
    float: left;
    margin-left: 10px;
    background: black;
    color: white;
    outline: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 8px 18px;
    box-shadow: 0px 1px 10px gray;
}

.btn-primary:hover {
    background-color: orange;
    text-decoration: none;
}

@media (max-width: 767px) {
    .row {
        display: inline;
    }
    .carousel {
        width: 100%;
        height: 80vh;
    }
    .carousel-inner,
    .carousel-item img {
        height: 80vh;
    }
    .card {
        position: relative;
        width: 100%;
        height: 45vh;
    }
}

@media (max-width: 500px) {
    .carousel {
        width: 100%;
        height: 50vh;
    }
    .carousel-inner,
    .carousel-item img {
        height: 50vh;
    }
}

.card-inner {
    margin-left: 4rem;
}


/*Comment*/

.comments {
    margin-top: 20px;
}

.comments-details button.btn.dropdown-toggle,
.comments-details .total-comments {
    font-size: 18px;
    font-weight: 500;
    color: #5e5e5e;
}

.comments-details {
    padding: 15px 15px;
}

.comments .comments .dropdown,
.comments .dropup {
    position: relative;
}

.comments button {
    background-color: transparent;
    border: none;
}

.comments .comment-box {
    width: 100%;
    float: left;
    height: 100%;
    background-color: #FAFAFA;
    padding: 10px 10px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.comments .add-comment {
    background-color: transparent;
    border: none;
    position: relative;
    margin-bottom: 50px;
}

.comments .commenter-pic {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #fff;
    overflow: hidden;
    background-color: #fff;
}

.comments .add-comment .commenter-name {
    width: 100%;
    padding-left: 75px;
    position: absolute;
    top: 20px;
    left: 0px;
}

.comments .add-comment input {
    border-top: 0px;
    border-bottom: 1px solid #ccc;
    border-left: 0px;
    border-right: 0px;
    outline: 0px;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    padding: 0;
    font-weight: normal;
}

.comments .add-comment input:focus {
    border-color: #03a9f4;
    border-width: 2px;
}

.comments .add-comment button[type=submit] {
    background-color: #03a9f4;
    color: #fff;
    margin-right: 0px;
}

.comments .add-comment button {
    background-color: #f5f5f5;
    margin: 10px 5px;
    font-size: 14px;
    text-transform: uppercase;
    float: right;
}

.comments .commenter-name .comment-time {
    font-weight: normal;
    margin-left: 8px;
    font-size: 15px;
}

.comments p.comment-txt {
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    padding: 0px 0px 15px;
}

.comments .commenter-name {
    display: inline-block;
    position: relative;
    top: -20px;
    left: 10px;
    font-size: 16px;
    font-weight: bold;
}

.comments .comment-meta {
    font-size: 14px;
    color: #333;
    padding: 2px 5px 0px;
    line-height: 20px;
    float: right;
}

.comments .reply-box {
    display: none;
}

.comments .replied {
    background-color: #fff;
    width: 95%;
    float: right;
    margin-top: 15px;
}


/*======Responsive CSS=======*/

@media (max-width: 767px) {
    .comments .commenter-name {
        font-size: 13px;
        top: -5px;
    }
    .comments .commenter-pic {
        width: 40px;
        height: 40px;
    }
    .comments .commenter-name a {
        display: block;
    }
    .comments .commenter-name .comment-time {
        display: block;
        margin-left: 0px;
    }
}

footer {
    background: #313030;
    color: rgb(156, 152, 152);
    height: 300px;
    width: 100%;
    margin-bottom: 0px;
    position: relative;
}

footer .footer-content {
    height: 270px;
    display: flex;
    color: white;
}

.footer-section {
    flex: 1;
    padding-top: 25px;
    border: 1px solid rgb(56, 55, 55);
}

.footer-section h4 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.footer-section a {
    text-decoration: none;
    color: white;
}

.footer-section a:hover {
    color: rgb(247, 103, 103);
    transition: 0.3s;
}

.footer-mg {
    width: 80%;
    margin: 0 auto;
}

.about p {
    padding-top: 5px;
}

.contact ul {
    list-style: none;
    padding-top: 10px;
}

.contact span {
    margin-right: 10px;
    font-size: 22px;
}

.social a {
    border: 1px dotted gray;
    width: 38px;
    height: 38px;
    padding-top: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
}

.social .text-input {
    width: 80%;
    background: #272727;
    border: none;
    border-radius: 5px;
    margin-bottom: 3px;
    padding: 3px;
    color: white;
}

.social .text-input:focus {
    background: #7f7d7d;
}

.social a:hover {
    border: 1px solid rgb(247, 103, 103);
}

.social .btn-send {
    width: 80px;
    border-radius: 5px;
}

.social .btn-send:hover {
    border: 2px solid rgb(247, 103, 103);
}

.fade {
    color: black;
}

#fback {
    background: white;
    color: #444343;
    border: 0px;
    font-weight: bold;
    outline: none;
}

#fback:hover {
    background: rgb(247, 103, 103);
}

footer .footer-bottom {
    position: absolute;
    background: #444343;
    height: 30px;
    width: 100%;
    text-align: center;
    left: 0px;
    padding-top: 5px;
}