
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid bg">
    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-4 mx-auto">
            <form class="form-container">
                <h2>Đăng nhập</h2>
                <div class="form-group" id="form-login">
                    <label for="myEmailSignUp">User Name</label>
                    <input type="text" id="Name" class="form-control" placeholder="UserName">
                </div>
                <div class="form-group">
                    <label for="myPasswordSignUp">Mật khẩu</label>
                    <input type="password" id="Pass" class="form-control" placeholder="Mật khẩu">
                    <span id="icon-click">
                        <i class="fas fa-eye" aria-hidden="true" id="eye"></i>
                    </span>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Ghi nhớ mật khẩu
                    </label>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success btn-block" id="signin">Đăng nhập</button>
                </div>
                <div class="form-group">
                    <p style="text-align: center; margin-top: 5px;"><a href="#">Quên mật khẩu?</a></p>
                    <p class="note" style="text-align:center">Bạn chưa có tài khoản? Đăng ký <a href="#register" data-toggle="modal">tại đây</a></p>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-4"></div> -->
    </div>
</div>
<script>
    $("#Name,#Pass").keyup(function (event) {
        if (event.keyCode === 13) {
            $("#signin").click();
        }
    });
    $('#signin').click(function () {
        let email = $('#Name').val();
        let password = $('#Pass').val();
        if (email != '' && password != '') {
            let data = { Email: email, Password: password };
            $.ajax({
                url: '/Login/Index',
                type: 'POST',
                data: { model: data },
            })
                .done(function (res) {
                    if (res.Code == 200) {
                        toastr["success"]('Đăng nhập thành công')
                        location.href = "/Admin/DashBoard/Index";
                    }
                    else {
                        toastr["error"]('Đăng nhập thất bại')
                        toastr.options = {
                            "closeButton": true,
                        }
                    }
                })
                .fail(function () {
                    toastr["error"]('Đăng nhập thất bại')
                    toastr.options = {
                        "closeButton": true,
                    }
                })
                .always(function () {
                });
        }
        else {
            toastr["error"]('Bạn chưa nhập email hoặc password', 'LỖI!!!')
            toastr.options = {
                "closeButton": true,
            }
        }
    });
</script>


